.header{
  width: 100%;
  height: auto;
  padding: 20px 35px 18px 30px;
  margin: 10px auto 0;
  border: 1px solid rgb(204, 204, 204);

  &__logo{
    display: inline-block;
    width: 100%;
    max-width: 163px;
    height: 100%;
    text-decoration: none;
    padding-top: 20px;

    span{
      display: block;
      color: rgb(50, 50, 50);
      font-family: $Roboto;
      font-size: 14px;
      font-weight: 300;
      line-height: 5px;
      text-align: center;
    }

  }

  &__navigation{
    float: right;
    display: inline-block;
    text-align: right;

    .top__nav{
      margin-bottom: 32px;
    }

    .links__group{
      display: inline-block;

      a{
        display: inline-block;
        width: 92px;
        height: 25px;
        color: $stack-color;
        font-family: $Verdana;
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        text-decoration: none;
        border: 1px solid transparent;
        text-align: center;
        margin-left: -5px;

        &:hover{
          border: 1px solid;
        }
      }
    }

    .language{
      display: inline-block;
      margin-left: 7px;
      margin-right: -1px;

      .lang{
        display: inline-block;
        width: 31px;
        height: 25px;
        line-height: 23px;
        color: rgb(204, 204, 204);
        font-family: $Verdana;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #f5f5f5;
        border: 1px solid rgb(204, 204, 204);
        text-align: center;
        margin-left: -4px;

        &-select{
          background-color: transparent;
          border: 1px solid $stack-color;
          color: $stack-color;
        }
      }
    }

    .nav{
      ul{
        li{
          padding:0 25px;
          position: relative;

          &:before{
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 1px;
            height: 17px;
            background-color: $stack-color;
          }
          a{
            color: $stack-color;
            font-family: $Roboto;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.5px;
            @include transition(all .5s);

            &:hover{
              color: rgb(204, 204, 204);
            }
          }
        }
        li:first-child{
          padding: 0 0 0 25px;
          &:before{
            display: none;
          }
        }
        li:last-child{
          padding: 0 0 0 25px;
        }
      }
    }

    #menu {
      display: none;
      list-style: none;
      z-index: 1024;

      li {
        display: block;
        position: relative;

        form{
          display: none;
        }

        a {
          color: rgb(255, 255, 255);
          font-family: $Roboto;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.5px;
          @include transition(all .5s);

          &:hover{
            color: rgb(204, 204, 204);
          }
        }
      }
    }
    #menu-toggle{
      display: none;
    }

    /*Change toggle size by adjusting width & height*/
    .tb-menu-toggle {
      border: 0;
      position: relative;
      background: transparent;
      cursor: pointer;
    }

    /*Change toggle color here*/
    .tb-menu-toggle i {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20%;
      -webkit-transition:all .2s;
      -moz-transition:all .2s;
      -o-transition:all .2s;
      transition:all .2s;
    }
    .tb-menu-toggle i:nth-child(2) {
      top: 40%;
    }
    .tb-menu-toggle i:nth-child(3) {
      top: 80%;
    }

    /* Style the active toggle here */
    .tb-menu-toggle.tb-active-toggle i {  }

    /*Animation of the toggle*/
    .tb-menu-toggle.tb-animate-toggle i:first-child,
    .tb-menu-toggle.tb-animate-toggle i:nth-child(2){
      top: 40%;
      -webkit-transform:rotate(45deg);
      -moz-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
      -o-transform:rotate(45deg);
      transform:rotate(45deg);
    }
    .tb-menu-toggle.tb-animate-toggle i:nth-child(3){
      top: 40%;
      -webkit-transform:rotate(-45deg);
      -moz-transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
      -o-transform:rotate(-45deg);
      transform:rotate(-45deg);
    }

    #menu li,
    #menu li a {
      display: block;
      line-height: 1;
      list-style: none outside none;
      margin: 0;
      padding: 0;
      position: relative;
    }


    #menu ul {
      display: none;
    }

    #menu > li > a {
      padding: 15px 10px 15px 0;
    }
  }
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.item{
  display: inline-block;
  width: 50%;
  margin-bottom: -2px;
  position: relative;
  text-align: center;
  max-height: 400px;

  &__content{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    max-width: 450px;
    width: 100%;

    .categories{
      margin-bottom: 40px;
      a{
        display: inline-block;
        color: rgb(255, 255, 255);
        font-family: $Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 15px;
        position: relative;
        @include transition(all .5s);

        &:hover{
          color: rgb(204, 204, 204);
        }

        &:before{
          content: '';
          position: absolute;
          display: block;
          top: 0;
          right: 0;
          width: 1px;
          height: 17px;
          background-color: rgb(255, 255, 255);
        }
      }
      a:first-child{
        &:after{
          content: '';
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 1px;
          height: 17px;
          background-color: rgb(255, 255, 255);
        }
      }
    }

    .heading{
      color: rgb(255, 255, 255);
      font-family: $Roboto;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 30px;
    }
    .descript{
      display: block;
      color: rgb(255, 255, 255);
      font-family: $Verdana;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
.item.slider{
  display: inline-block;
  width: 75%;
  position: relative;

  .slick-dots {
    bottom: 6px;
  }
  .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    content: '';
    text-align: center;
    opacity: .25;
    background-color: rgb(255, 255, 255);
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: rgb(255, 255, 255);
  }
}

.slick-slider {
  margin-bottom: 1px!important;
}
.item.description{
  display: inline-block;
  width: 25%;
  height: auto;
  padding: 33px 25px 33px 37px;
  color: rgb(255, 255, 255);
  margin-top: -4px;
  background-color: rgb(50, 50, 50);

  .item__title{
    color: rgb(255, 255, 255);
    font-family: $Roboto;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 28px;
    text-align: left;
  }

  p{
    color: rgb(255, 255, 255);
    font-family: $Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: left;
  }

  .type{

    .select2-container {
      width: 100%!important;
      max-width: 152px!important;
      border-color: rgb(220, 220, 220)!important;
    }
    .select2-container--default .select2-selection--single {
      border: 1px solid rgb(133, 133, 133)!important;
      border-radius: 0!important;
      outline: none !important;
    }
    .select2-container .select2-selection--single {
      height: 34px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 34px;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 13px;
      padding-right: 38px;
    }
    .select2-chosen{
      padding: 7px 12px!important;
      color: rgb(95, 113, 133);
      font-family: $Roboto;
      font-size: 18px;
      font-weight: 400;
    }
    .select2-container-active.select2-dropdown-open{
      border-color: rgb(220, 220, 220)!important;
      box-shadow: 0!important;
    }
    .select2-results,
    .select2-result-label {
      font-family:$Roboto;
      font-size: 14px;
      font-weight: 400;
      color: #5f7185;
      line-height: 18px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      display: block;
      width: 100% !important;
      height: 100% !important;
      position: relative;
      border-color: transparent !important;
      border-style: solid;
      border-width: 0 !important;
      top: 0 !important;
      left: 0 !important;
      margin-left: 0 !important;
      margin-top: 0 !important;
    }
  }

}


#chart{
  width: 100%;
  max-width: 600px;
  height: 400px;
  border: 1px solid;
}
#line{
  width: 100%;
  max-width: 600px;
  height: 400px;
  border: 1px solid;
}
#pie{
  width: 100%;
  max-width: 600px;
  height: 400px;
  border: 1px solid;
}
.select2-container {
  width: 100%!important;
  max-width: 152px!important;
  margin-bottom: 10px!important;
  display: block!important;
  outline: none!important;
}
.select2-search {
  display: none !important;
}
.select2-dropdown {
  border: 1px solid rgb(133, 133, 133)!important;
  border-radius: 0 !important;
  border-top: 0 !important;
  background-color: #000000!important;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  display: none !important;
}
.select2-container--default .select2-selection--single {
  background-color: transparent!important;
}
.select2-results__option {
  display: block !important;
  color: rgb(255, 255, 255)!important;
  font-family: $Roboto;
  font-size: 18px;
  font-weight: 300;
  padding: 7px 15px !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: transparent !important;
  color: rgb(255, 255, 255)!important;
  font-family: $Roboto;
  font-size: 18px!important;
  font-weight: 300;
  padding: 7px 15px !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: transparent !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #ffffff!important;
  font-family: $Roboto;
  font-size: 18px;
  font-weight: 300;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 115px!important;
}
.select2-container--default .select2-selection--single {
  border: 1px solid rgb(255, 255, 255)!important;
  border-radius: 0!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none!important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: rgb(255, 255, 255)!important;
}