<header class="header">
    <a href="#" class="header__logo">
        <img src="../img/logo.svg" alt="logo">
        <span>Inform. Connect. Inspire.</span>
    </a>
    <div class="header__navigation">
        <div class="top__nav">
            <div class="links__group">
                <a href="#">Über uns</a>
                <a href="#">Redaktion</a>
            </div>
            <div class="language">
                <a class="lang" href="#">DE</a>
                <a class="lang lang-select" href="#">EN</a>
            </div>
        </div>
        <nav class="nav">
            <ul>
                <li>
                    <form>
                        <input type="search" placeholder="">
                    </form>
                </li>
                <li><a href="#">DEsign+lifestyle</a></li>
                <li><a href="#">trends</a></li>
                <li><a href="#">infodelight</a></li>
                <li><a href="#">Smart Living</a></li>
            </ul>
        </nav>
        <!--mobile-menu-->
        <h3 id="menu-toggle">Menu</h3>
        <ul id="menu">
            <li>
                <form>
                    <input type="search" placeholder="">
                </form>
            </li>
            <li><a href="#">DEsign+lifestyle</a></li>
            <li><a href="#">trends</a></li>
            <li><a href="#">infodelight</a></li>
            <li><a href="#">Smart Living</a></li>
        </ul><!--end-mobile-menu-->
    </div>
</header>